
<div class="container">
  <h3>Searching for <%= @term %></h3>
  <p>resaults:</p>
  <% if @result.empty? %>
    <p>No match found</p>
  <% else %>
    <ul>
    <% @result.each do |user| %>
      <% if user != current_user %>
        <li>
          <div class="card clear-fix grid-3">
            <%= cl_image_tag user.image, class: 'thumbnail-pic' %>
            <%= link_to user.name, user_path(user), class: 'list-item padding' %>
            <% if current_user.active_relationships.find_by(followed_id: user.id) == nil %>
              <%= button_to 'Add Friend', friend_path(user), method: :get, class: "center-btn" %>
            <% elsif current_user.active_relationships.find_by(followed_id: user.id) != nil %>
              <% if user.active_relationships.find_by(followed_id: current_user.id) != nil %>
                <p class="center">Friend</p>
              <% else %>
                <p class="center">Pending</p>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>
