
<div class="container card padding margin-v">
  <h4 class="card-title text-center">Your Wishlist</h4>

  <span class="clear-fix">
    <%= link_to '+ Add New', new_gift_path, class: "darkred accent-2 waves-light btn-small float-r" %>
  </span>

  <ul class="card-content">
    <% @gifts.each do |gift| %>
      <li class="card">
        <%= link_to gift.title, gift, class: "list-item padding" %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container card padding margin-v">
  <h4 class="card-title">Gifts Recieved</h4>
  <div class="card-content">
    <% if @confirmed.empty? %>
      <p>None</p>
    <% else %>
      <ul>
        <% @confirmed.each do |gift| %>
          <li class="card grid-2-reverse">
            <%= link_to gift.title, gift, class: "list-item padding" %>
            <%= link_to gift.user.name, gift.user, class: "small-tag text-underline text-center" %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>