
<div class="container card padding margin-v">
  <h4 class="card-title text-center">Your Wishlist</h4>

  <span class="clear-fix">
    <%= link_to '+ Add New', new_gift_path, class: "darkred accent-2 waves-light btn-small float-r" %>
  </span>

  <ul class="card-content">
    <% @gifts.each do |gift| %>
      <li class="card">
        <%= link_to gift.title, gift, class: "list-item padding" %>
      </li>
    <% end %>
  </ul>
</div>

<div class="container card padding margin-v">
  <h4 class="card-title">Gifts Recieved</h4>
  <div class="card-content">
    <p>None</p>
  </div>
</div>