/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/* @import "materialize"; */

body {
	background-color: #eeeeee;
}

header {
	margin: 0;
	padding: 20px 0;
	background-color: #fff;
}

header h1,
header h1 a {
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	margin: 0;
	font-weight: bold;
	color: rgb(148, 63, 63);
}

header .slogan {
	font-weight: normal;
	font-size: 14px;
	color: darkred;
}

nav {
	background-color: rgb(148, 63, 63);
}

nav ul li {
	text-align: center;
	width: 100%;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space-around {
	justify-content: space-around;
}

form textarea {
	border: none;
	border-bottom: 1px solid gray;
}

.no-hover:hover {
	background: none;
}

.text-center {
	text-align: center;
}

.text-underline {
	text-decoration: underline;
}

.text-red {
	color: rgb(190, 0, 0);
}

.thumbnail-pic {
	border-radius: 50%;
	justify-self: center;
	width: 50px;
}

.small-profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid white;
}

.profile-pic {
	width: 100px;
}

nav form input {
	color: white;
}

.block {
	display: block;
}

.inline-div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.x-btn {
	margin: 0;
	padding: 0;
	text-align: center;
	color: rgb(175, 0, 0);
	max-width: 22px;
	max-height: 22px;
	min-width: 22px;
	min-height: 22px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%;
}

.darkred {
	background-color: rgb(148, 63, 63);
}

.darkred:hover,
.darkred:active {
	background-color: rgb(173, 95, 95);
}

.full-width {
	width: 100%;
}

.x-btn:after {
	content: "X";
}

.float-r {
	float: right;
}

.float-l {
	float: left;
}

.clear-fix:after {
	content: "";
	clear: both;
	display: table;
}

.list-item {
	font-size: 18px;
	display: block;
}

.card.grid-3:hover,
.card.grid-2:hover,
.grid-2-reverse:hover,
.card .card > .list-item:hover {
	background-color: rgba(240, 240, 240, 0.678);
}

.grid-3 {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	justify-content: center;
	align-items: center;
}

.grid-3,
.grid-2,
.grid-2-reverse,
.card .card > .list-item {
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.grid-2-reverse {
	display: grid;
	grid-template-columns: 1fr 4fr;
	justify-content: center;
	align-items: center;

	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.grid-2 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	justify-content: center;
	align-items: center;
}

.center-btn {
	display: block;
	margin: auto;
}

.small-tag {
	font-size: 12px;
	color: black;
	text-align: center;
}

.margin-v {
	margin: 50px auto;
}
.margin-v-less {
	margin: 20px auto;
}

.padding {
	padding: 20px;
}

.padding-h {
	padding: 0 10px;
}

.padding-less {
	padding: 10px;
}
