/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

/* @import "materialize"; */

body {
	background-color: #eeeeee;
}

header {
	margin: 0;
	padding: 20px 0;
	background-color: #fff;
}

header h1,
header h1 a {
	text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	margin: 0;
	font-weight: bold;
	color: rgb(148, 63, 63);
}

header .slogan {
	font-weight: normal;
	font-size: 14px;
	color: darkred;
}

.search-bar {
	padding: 0 30px;
	width: 300px;
}

.search-bar form input {
	color: white;
}

.block {
	display: block;
}

.margin-v {
	margin: 20px auto;
}

.padding {
	padding: 20px;
}

.x-btn {
	margin: 0;
	padding: 0;
	text-align: center;
	color: rgb(175, 0, 0);
	max-width: 22px;
	max-height: 22px;
	min-width: 22px;
	min-height: 22px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	/* border-radius: 50%; */
}

.full-width {
	width: 100%;
}

.x-btn:after {
	content: "X";
}

.float-r {
	float: right;
}
.clear-fix:after {
	content: "";
	clear: both;
	display: table;
}

.list-item {
	display: block;
}

.grid-2 {
	display: grid;
	grid-template-columns: 4fr 1fr;
	justify-content: center;
	align-items: center;
}

.center-btn {
	display: block;
	margin: auto;
}
